#app {
  margin: 2rem 0;
  font-family: Arial;
}

.chart-container {
  display: inline-block;
  margin: auto;
  height: 70vh;
  width: 55vw;
}

label,
input {
  display: block;
}

input {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 10px;
}

.container {
  margin: 2em;
  float: left;
}
